{% set totalCarbs, totalProtein, totalFat = 0, 0, 0 %}
{% if meals.breakfastRecipes is defined and meals.breakfastRecipes is iterable %}
{% for recipe in meals.breakfastRecipes %}
<ul class="list-group list-group-flush">
    <li class="list-group-item active">
        <h5 class="list-group-item-heading">{{ recipe.name }} &nbsp; <span class="badge badge-light">Recipe</span></h5>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"><p><strong>Title</strong></p></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>Carbs</strong></p>
                <p>g</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>Protein</strong></p>
                <p>g</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>Fat</strong></p>
                <p>g</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><strong>Qty</strong></p>
                <p>g/ml</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><strong>Cals</strong></p>
                <p>kcal</p>
            </div>
        </div>
    </li>

    {% set carbs, protein, fat = 0, 0, 0 %}
    {% if meals.breakfastRecipeProducts[recipe.id] is defined and meals.breakfastRecipeProducts[recipe.id] is iterable %}
    {% for product in meals.breakfastRecipeProducts[recipe.id] %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                <p> {{ product.title }} </p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p> {{ product.carbs | round(1,'common')}}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p> {{ product.protein | round(1,'common')}}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p> {{ product.fat | round(1,'common')}}</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p> {{ meals.breakfastRecipeRecipeProducts[recipe.id][loop.index0].quantity | round(1,'common')}}</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <span class="badge badge-pill"> {{ (product.carbs * 4 + product.protein * 4 + product.fat * 9) | round(0,'common')}}</span>
            </div>
        </div>
    </li>
    {% set carbs, protein, fat = carbs + product.carbs, protein + product.protein, fat + product.fat %}
    {% endfor %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> {{ carbs | round(1,'common')}}</strong>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> {{ protein | round(1,'common')}}</strong>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> {{ fat | round(1,'common')}}</strong>
            </div>
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <span class="badge badge-pill badge-dark"> {{ (carbs * 4 + protein * 4 + fat * 9) | round(0,'common')}}</span>
            </div>
        </div>
    </li>
    {% set totalCarbs, totalProtein, totalFat = totalCarbs + carbs, totalProtein + protein, totalFat + fat %}
    {% endif %}
</ul>
{% endfor %}
{% endif %}

{% if meals.breakfastProducts is defined and meals.breakfastProducts is iterable %}
<ul class="list-group list-group-flush">
    <li class="list-group-item active">
        <h5 class="list-group-item-heading"><span class="badge badge-light">Product List</span></h5>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4"><p><strong>Title</strong></p></div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>Carbs</strong></p>
                <p>g</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>Protein</strong></p>
                <p>g</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p><strong>Fat</strong></p>
                <p>g</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><strong>Qty</strong></p>
                <p>g/ml</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><strong>Cals</strong></p>
                <p>kcal</p>
            </div>
        </div>
    </li>

    {% set carbs, protein, fat = 0, 0, 0 %}
    {% for product in meals.breakfastProducts %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                <p> {{ product.title }} </p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p> {{ product.carbs | round(1,'common')}}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p> {{ product.protein | round(1,'common')}}</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <p> {{ product.fat | round(1,'common')}}</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p> {{meals.breakfastMealProducts[loop.index0].quantity | round(1,'common')}}</p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <span class="badge badge-pill"> {{ (product.carbs * 4 + product.protein * 4 + product.fat * 9) | round(0,'common')}}</span>
            </div>
        </div>
    </li>
    {% set carbs, protein, fat = carbs + product.carbs, protein + product.protein, fat + product.fat %}
    {% endfor %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> {{ carbs | round(1,'common')}}</strong>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> {{ protein | round(1,'common')}}</strong>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> {{ fat | round(1,'common')}}</strong>
            </div>
            <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <span class="badge badge-pill badge-dark"> {{ (carbs * 4 + protein * 4 + fat * 9) | round(0,'common')}}</span>
            </div>
        </div>
    </li>
    {% set totalCarbs, totalProtein, totalFat = totalCarbs + carbs, totalProtein + protein, totalFat + fat %}
</ul>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-outline-success btn-sm" onclick="window.location.href='{{ path('meals', {'action':'add-product', 'date': currentDay, 'type': 'breakfast'}) }}'">
            <i class="fa fa-plus"></i>
            Product
        </button>
        <button class="btn btn-outline-success btn-sm" onclick="window.location.href='{{ path('meals', {'action':'add-recipe', 'date': currentDay, 'type': 'breakfast'}) }}'">
            <i class="fa fa-plus"></i>
            Recipe
        </button>
        {% if meals.breakfast.id is defined %}
            <button class="btn btn-outline-info btn-sm" onclick="window.location.href='{{ path('meals', {'action':'edit', 'date': currentDay, 'type': 'breakfast'}) }}'">
                <i class="fa fa-edit"></i>
                Edit
            </button>
            <button class="btn btn-outline-primary btn-sm" onclick="window.location.href='{{ path('recipe', {'action':'save-meal-to-recipe', 'id': meals.breakfast.id}) }}'">
                <i class="fa fa-save"></i>
                Save to Recipe
            </button>
        {% endif %}
    </div>
</div>

{% set totalCals = (totalCarbs * 4 + totalProtein * 4 + totalFat * 4) | round(0,'common') %}
{% if totalCals %}
<h4>Breakfast statistics </h4>
Carbohydrates: <strong class="carbs">{{ totalCarbs | round(0,'common') }}</strong> &nbsp;
Protein: <strong class="protein">{{ totalProtein | round(0,'common')}}</strong> &nbsp;
Fat: <strong class="fat">{{ totalFat | round(0,'common')}}</strong> <br/>
Calories: <strong class="calories">{{ totalCals }}</strong>
{% endif %}