{% extends '@layout/default.html.twig' %}

{% block title %}Add New Recipe{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
            <h1>Add new recipe</h1>
            <div class="form-content">
                {{ messagesPartial('partial::alerts', {}, null, 'recipe') }}

                {% set dummy = form.setAttribute('autocomplete', 'off') %}
                {% set dummy = form.prepare() %}
                {{ form().openTag(form) | raw }}

                {% include '@partial/form-display-validationgroup.html.twig' with {'form': form, 'showLabels': true} %}

                {{ form().closeTag() | raw }}
            </div>
            <p><strong>Note: </strong> By clicking submit, you will group the product list of the meal to a recipe.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding">
            <h4>Products to be grouped to recipe: </h4>
        {% if products is defined and products is iterable %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><p><strong>Title</strong></p></div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Carbs</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Protein</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Fat</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Qty</strong></p>
                            <p>g/ml</p>
                        </div>
                    </div>
                </li>
            {% for product in products %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <p> {{ product.title }} </p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p> {{ product.carbs | round(1,'common')}}</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p> {{ product.protein | round(1,'common')}}</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p> {{ product.fat | round(1,'common')}}</p>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <p> {{ quantities[loop.index0] | round(1,'common')}}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
