{% extends '@layout/default.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
            <h1>Edit Recipe</h1>
            <div class="form-content">
                {% set dummy = form.setAttribute('autocomplete', 'off') %}
                {% set dummy = form.prepare() %}
                {{ form().openTag(form) | raw }}

                {% include '@partial/form-display-validationgroup.html.twig' with {'form': form, 'showLabels': true} %}

                {{ form().closeTag() | raw }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12  col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 no-padding">
            {{ messagesPartial('partial::alerts', {}, null, 'recipe') }}
            <h3>Recipe Products</h3>
            {% if recipe is defined %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><p><strong>Title</strong></p></div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Carbs</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Protein</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Fat</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Cals</strong></p>
                            <p>kcal</p>
                        </div>
                        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Qty</strong></p>
                            <p>g/ml</p>
                        </div>
                    </div>
                </li>
                {% set carbs, protein, fat = 0,0,0 %}
                {% for product in products %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <p> {{ product.title }} </p>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <p> {{ product.carbs | round(1,'common')}}</p>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <p> {{ product.protein | round(1,'common')}}</p>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <p> {{ product.fat | round(1,'common')}}</p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <span class="badge badge-pill"> {{ (product.carbs * 4 + product.protein * 4 + product.fat * 9) | round(0,'common')}}</span>
                        </div>
                        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 quantityContainer">
                            <input type="number" class="quantity"  value="{{ recipeProducts[loop.index0].quantity }}" data-recipeProductId = "{{ recipeProducts[loop.index0].id }}" min="0" max="9999">
                        </div>
                        <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteProductModal">
                                <i class="fa fa-trash"></i> Delete Product
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Delete Product</h3>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to remove the product from the recipe?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger deleteProductBtn" data-recipeProductId = "{{ recipeProducts[loop.index0].id }}">Confirm Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% set carbs, protein, fat = carbs + product.carbs, protein + product.protein, fat + product.fat %}
                {% endfor %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <strong> {{ carbs | round(1,'common')}}</strong>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <strong> {{ protein | round(1,'common')}}</strong>
                        </div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                            <strong> {{ fat | round(1,'common')}}</strong>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <span class="badge badge-pill badge-dark"> {{ (carbs * 4 + protein * 4 + fat * 9) | round(0,'common')}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}
            <button class="btn btn-outline-success btn-sm addProductBtn" onclick="window.location.href='{{  path('recipe', {'action':'add-product', 'id': recipe.id}) }}'">
                <i class="fa fa-plus"></i> Add Product
            </button>
            <hr>
            Recipe last updated: <strong>{{ recipe.dateUpdated|date('Y-m-d') }}</strong>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script>
        $('.quantity').change(function(e) {
            let recipeProductId = $(this).attr('data-recipeProductId');
            let productQuantity = $(this).val();
            $.post("{{ path('recipe', {'action':'edit-recipe-product'}) }}",
                {'recipeProductId': recipeProductId, 'quantity': productQuantity, 'type': 'update'},
                function() {
                }).done(function (data) {
                    window.location.reload();
            })
        });

        $('.deleteProductBtn').click(function(e) {
            let recipeProductId = $(this).attr('data-recipeProductId');
            let productQuantity = $(this).val();
            $.post("{{ path('recipe', {'action':'edit-recipe-product'}) }}",
                {'recipeProductId': recipeProductId, 'quantity': productQuantity, 'type': 'delete'},
                function() {
                }).done(function (data) {
                window.location.reload();
            })
        });
    </script>
{% endblock %}
