{% extends '@layout/default.html.twig' %}

{% block title %}Edit Meal{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 no-padding forms">
                <h1>Edit {{ type }}</h1>
                <h1>{{ meal.date }}</h1>
            {{ messagesPartial('partial::alerts', {}, null, 'meals') }}

            <h3>Recipes</h3>
            {% if recipeData.recipes is defined and recipeData.recipes is iterable %}
            {% for recipe in recipeData.recipes %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item active">
                    <h5 class="list-group-item-heading">{{ recipe.name }} &nbsp; <span class="badge badge-light">Recipe</span></h5>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4"><p><strong>Title</strong></p></div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Carbs</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Protein</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <p><strong>Fat</strong></p>
                            <p>g</p>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Qty</strong></p>
                            <p>g/ml</p>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <p><strong>Cals</strong></p>
                            <p>kcal</p>
                        </div>
                    </div>
                </li>
                {% if recipeData.products[recipe.id] is defined and recipeData.products[recipe.id] is iterable%}
                    {% for product in recipeData.products[recipe.id] %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <p> {{ product.title }} </p>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <p> {{ product.carbs | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <p> {{ product.protein | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <p> {{ product.fat | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <p> {{ recipeData.recipeProducts[recipe.id][loop.index0].quantity | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <span class="badge badge-pill"> {{ (product.carbs * 4 + product.protein * 4 + product.fat * 9) | round(0,'common')}}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                <li class="list-group-item">
                    <button class="btn btn-outline-danger btn-sm deleteRecipeBtn" data-mealRecipeId = "{{ mealRecipes[loop.index0].id }}">
                        <i class="fa fa-trash"></i> Delete Recipe
                    </button>
                </li>
            </ul>
            {% endfor %}
            {% endif %}
            <button class="btn btn-outline-primary btn-sm addRecipeBtn" onclick="window.location.href='{{ path('meals', {'action':'add-recipe', 'date': meal.date, 'type': meal.type }) }}'">
                <i class="fa fa-plus"></i> Add Recipe
            </button>
        </div>
    </div>
    <div class="row">
        {% if products is defined and products is iterable %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 no-padding">
                <h3>Products</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4"><p><strong>Title</strong></p></div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <p><strong>Carbs</strong></p>
                                <p>g</p>
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <p><strong>Protein</strong></p>
                                <p>g</p>
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <p><strong>Fat</strong></p>
                                <p>g</p>
                            </div>
                            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-1 col-md-1 col-lg-1">
                                <p><strong>Qty</strong></p>
                                <p>g/ml</p>
                            </div>
                        </div>
                    </li>
                    {% for product in products %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <p> {{ product.title }} </p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <p> {{ product.carbs | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <p> {{ product.protein | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <p> {{ product.fat | round(1,'common')}}</p>
                                </div>
                                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-1 col-md-1 col-lg-1 quantityContainer">
                                    <input type="number" class="quantity"  value="{{ mealProducts[loop.index0].quantity }}" data-mealProductId = "{{ mealProducts[loop.index0].id }}" min="0" max="9999">
                                </div>
                                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-2 col-md-2 col-lg-2">
                                    <button class="btn btn-outline-primary btn-sm deleteProductBtn" data-mealProductId = "{{ mealProducts[loop.index0].id }}">
                                        <i class="fa fa-trash"></i> Delete Product
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-outline-primary btn-sm addProductBtn" onclick="window.location.href='{{  path('meals', {'action':'add-product', 'date': meal.date, 'type': meal.type }) }}'">
                    <i class="fa fa-plus"></i> Add Product
                </button>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $('.quantity').change(function(e) {
        let mealProductId = $(this).attr('data-mealProductId');
        let productQuantity = $(this).val();
        $.post("{{ path('meals', {'action':'edit-meal-product'}) }}",
            {'mealProductId': mealProductId, 'quantity': productQuantity, 'type': 'update'},
            function() {
            }).done(function (data) {
            window.location.reload();
        })
    });
    $('.deleteProductBtn').click(function(e) {
        let mealProductId = $(this).attr('data-mealProductId');
        let productQuantity = $(this).val();
        $.post("{{ path('meals', {'action':'edit-meal-product'}) }}",
            {'mealProductId': mealProductId, 'quantity': productQuantity, 'type': 'delete'},
            function() {
            }).done(function (data) {
            window.location.reload();
        })
    });
    $('.deleteRecipeBtn').click(function(e) {
        let mealRecipeId = $(this).attr('data-mealRecipeId');
        $.post("{{ path('meals', {'action':'edit-meal-recipe'}) }}",
            {'mealRecipeId': mealRecipeId, 'type': 'delete'},
            function() {
            }).done(function (data) {
            window.location.reload();
        })
    });
</script>
{% endblock %}
