{% extends '@layout/default.html.twig' %}

{% block title %}Submit New Product{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
                <span>Selected Day:</span> <strong>{{ currentDay }}</strong>
                |
                <a href="{{ path('meals', {'action' : 'view', 'date' : previousDay}) }}" class="user-icon">Yesterday</a>
                <a href="{{ path('meals', {'action' : 'view', 'date' : nextDay}) }}" class="user-icon">Tomorrow</a>
                <h3>Breakfast</h3>
                {% if meals.breakfastProducts is defined and meals.breakfastProducts is iterable %}
                {% for product in meals.breakfastProducts %}
                    <div class="list-group">
                        <div class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                <span>{{ product.title }}</span>
                            </h4>
                        </div>
                        <div class="list-group-item">
                            <p class="list-group-item-text">
                                Carbs: <strong> {{ meals.breakfastMealProducts[loop.index0].carbs }}</strong> |
                                Protein: <strong> {{ meals.breakfastMealProducts[loop.index0].protein }}</strong> |
                                Fat: <strong> {{ meals.breakfastMealProducts[loop.index0].fat }}</strong>
                            </p>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                <a href="{{ path('meals', {'action':'add-meal', 'date': currentDay, 'type': 'breakfast'}) }}">Add Breakfast</a>
                {% if meals.breakfast.id is defined %}
                    <a href="{{ path('recipe', {'action':'save-meal-to-recipe', 'id': meals.breakfast.id}) }}">Save to Recipe</a>
                {% endif %}
                <hr>
                <h3>Lunch</h3>
                <hr>
                <h3>Dinner</h3>
                <hr>
                <h3>Snacks</h3>
                <hr>
            </div>

        </div>
    </div>

{% endblock %}
