{% extends '@layout/default.html.twig' %}

{% block title %}Search Products{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
            <h1>Search Products</h1>
            <div class="form-content">
                {{ messagesPartial('partial::alerts', {}, null, 'product') }}

                {% set dummy = form.setAttribute('autocomplete', 'off') %}
                {% set dummy = form.prepare() %}
                {{ form().openTag(form) | raw }}

                {% include '@partial/form-display-validationgroup.html.twig' with {'form': form, 'showLabels': true} %}

                {{ form().closeTag() | raw }}
            </div>
        </div>
    </div>
    <div class="row">
        {% if products is defined and products is iterable %}
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 no-padding">
                    <h3>Search Results</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6"><p><strong>Title</strong></p></div>
                                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                    <p><strong>Carbs</strong></p>
                                    <p>g</p>
                                </div>
                                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                    <p><strong>Protein</strong></p>
                                    <p>g</p>
                                </div>
                                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                    <p><strong>Fat</strong></p>
                                    <p>g</p>
                                </div>
                                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2  col-sm-2 col-md-2 col-lg-2">
                                    <p><strong>Calories per 100g</strong></p>
                                    <p>kcal</p>
                                </div>
                            </div>
                        </li>
                        {% for product in products %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6">
                                        <p> {{ product.title }} </p>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                        <p> {{ product.carbs | round(1,'common')}}</p>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                        <p> {{ product.protein | round(1,'common')}}</p>
                                    </div>
                                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                        <p> {{ product.fat | round(1,'common')}}</p>
                                    </div>
                                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <span class="badge badge-pill"> {{ (product.carbs * 4 + product.protein * 4 + product.fat * 9) | round(0,'common')}}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
