{% extends '@layout/default.html.twig' %}

{% block title %}Search Products{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
            <h1>Search Products</h1>
            <div class="form-content">
                {{ messagesPartial('partial::alerts', {}, null, 'product') }}

                {% set dummy = form.setAttribute('autocomplete', 'off') %}
                {% set dummy = form.prepare() %}
                {{ form().openTag(form) | raw }}

                {% include '@partial/form-display-validationgroup.html.twig' with {'form': form, 'showLabels': true} %}

                {{ form().closeTag() | raw }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding">
            {% if products is defined %}
                <h3>Results</h3>
                {% for product in products %}
                    <div class="list-group">
                        <div class="list-group-item active">
                            <h4 class="list-group-item-heading">
                                <span>{{ product.title }}</span>
                            </h4>
                        </div>
                        <div class="list-group-item">
                            <p class="list-group-item-text">
                                Carbs: <strong> {{ product.carbs }}</strong> |
                                Protein: <strong> {{ product.protein }}</strong> |
                                Fat: <strong> {{ product.fat }}</strong>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
</div>

{% endblock %}
